*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: title;
    src: url(../fonts/title.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root{
    --text-color: #000000;
    --shadow-text: #242424;
    --o-sdw-txt: #494949;
    --dts: #929292;
    --bckg-clr: #ffffff;
}



body{
    background-color: var(--bckg-clr);
    overflow-x: hidden;
}

.container-top-page{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0.8380602240896359) 0%, rgba(0,0,0,0) 50%); 
    margin: auto;
    width: 100%;
    height: 115px;
}

h1.site-name-logo{
    padding-top: 20px;
    padding-left: 40px;
    align-items: center;
    font-size: 2.4rem;
    color: var(--bckg-clr);
    font-family: title;
}

ul.search{
    list-style: none;
    display: inline-block;
}

li.search-block{
    color: var(--bckg-clr);
    justify-content: space-between;
    padding: 30px 9px 0px 9px;
    align-items: center;
    display: inline-block;
    font-family: poketext;
    font-size: 0.9rem;
}

.start-video{
    box-shadow: 0px 0px 20px var(--dts);
    width: 100%;
}

.content-first{
    margin: auto;
}

h1.about-game{
    color: var(--text-color);
    font-family: title;
    font-size: 2.9rem;
    padding: 10px;
    text-align: center;
}

h2.about-game{
    color: var(--text-color);
    font-family: title;
    font-size: 2.5rem;
    padding: 10px;
    padding-right: 35px;
    text-align: end;
}

section > p.descrption-minimus-about-game{
    padding-right: 10px;
    width: 350px;
    margin: auto;
    font-family: "Oswald", sans-serif;
    font-size: 1.6rem;
    text-align: end;
}

p.descrption-minimus-about-game > a.target-credits{
    text-decoration: none;
    color: red;
}

.about-game-concept{
    width: 400px;
    padding-left: 380px;
}

.content-block{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img.demo{
    margin-left: 10px;
    width: 350px;
    height: 550;
    border-radius: 10px;
}